body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#container{
  width: 1024px;
}


#tradingview_63f64{
  width: 1024px;
  height: 480px;
  margin-bottom: 10px;
}

.dashboard{
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.corGreen{
  color: greenyellow;
}

.corRed{
  color: lightcoral;
}
